@import url(./bootstrap.min.css);


.container-fluid {

    height: 125px;
    background-color: white;
    justify-content: flex-end;
}

}

#vagas {

    color: rgb(73, 138, 73);
    justify-content: flex-end;

    
}

#empresa, #login{

    color: rgb(115, 115, 156);
    justify-content: flex-end;

}

#cadastre-se {

    background-color: blue;
    color: white;
    justify-content: flex-end;

}

.img {

    height: 325px;
    background-color: rgba(79, 79, 160, 0.644);
    padding-top: 90px;
    padding-left: 90px;


}