@import url(./bootstrap.min.css);


.container {

    height: 125px;
    background-color: white;
    justify-content: flex-end;
}

}

#vagas {

    color: rgb(73, 138, 73);
    justify-content: flex-end;

    
}

#empresa, #login{

    color: rgb(115, 115, 156);
    justify-content: flex-end;

}

#cadastre-se {

    background-color: blue;
    color: white;
    justify-content: flex-end;

}