.img {

    height: 450px;
    background-color: rgba(79, 79, 160, 0.644);
    padding-top: 90px;
    padding-left: 90px;
    background-image: url(sou\ empresa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.pe-none {

    color: whitesmoke;
    font-size: 35px;
    text-align: center;
    
    
}

.pe-two {

    color: white;
    font-size: 20px;
    text-align: center;
}

.pe-three {

    color: white;
    font-size: 20px;
    text-align: center;
}


.last {

    color: white;
    text-align: center;

}

.p1, .p3, .p5 {

    font-size: 15px;
    color: blue;
    text-align: center;
}

.p2, .p4, .p6 {

    font-size: 10px;
    text-align: center;

}

.class1, .class2, .class3 {

    display: inline-block;
    text-align: justify;
    justify-content: space-evenly;

}

